.gameText{
    font-family: "Times New Roman";
    display: flex;
    align-items: center;
    justify-content: start;
    color: white;
    font-size: 45px;
}


.imgGame{
    display: flex;
    align-items: start;
    justify-content: start;
    height: 40vh;
    width: 55vw;
}
body{
height: 100vh;
    background: rgb(80,80,80);
    background: radial-gradient(circle, rgba(80,80,80,1) 0%, rgba(0,0,0,1) 100%);
}



.GameButton{
    display: flex;
    justify-content: end;
    align-items: start;
    width: 90px;
    height: 50px;
    border-radius: 15px;
    border: 2px green solid;
    background-color: darkgreen;
    color: white;
font-size: 20px;
    text-align: center;
}
* {box-sizing:border-box}


.GamePrice{
    display: flex;
    justify-content: center;
    align-items: start;
    font-family: "Times New Roman";
    font-size: 45px;
    color: brown;
}
.carousel-container {
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-slide {
    min-width: 100%;
    overflow: hidden;
}

.carousel img {
    width: 100%;
    height: auto;
}


