.gameText{
    font-family: "Times New Roman";
    display: flex;
    align-items: center;
    justify-content: start;
    color: darkgreen;
}


.imgGame{
    display: flex;
    align-items: start;
    justify-content: start;
    height: 25%;
    width: 35%;
}
body{
height: 100vh;
    background: radial-gradient(circle, rgba(227,221,224,1) 0%, rgba(11,11,11,1) 60%);;
}
.gameVideo{
    display: flex;
    align-items: flex-start;
    justify-content: center;

}
.button{
    display: flex;
    justify-content: end;
    align-items: start;
}